@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@600&display=swap');
/*Animaciones*/
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}
@keyframes animationCard {
    from {
      opacity: 0;
      visibility: hidden;
      height: 0;
      transform: translateX(300px);
    }

    to {
      opacity: 1;
      visibility: visible;
      height: auto;
      transform: translateX(0);
    }
}
@keyframes slide-right {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-300px);
    }

    to {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
}




/* Common: Classes
--------------------------------------------------------------------------------------------------------------------- */

* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Alegreya', serif;
    margin: 0;
    padding: 0;

  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
  }
  
.header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    position: fixed;
    width: 100%;
    z-index: 999;
    background: linear-gradient(180deg, rgba(56,34,15,1) 0%, rgba(255,255,255,0) 100%);
}

.cart, .user{
    width: 25px;
    height: 25px;
    fill: white;
    margin-left: 30px;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
}
.header__content{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.425);
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in;
}
.header__content .menucontent{
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: white;
    width: 600px;
    height: 100%;
    position: absolute;
    left: -100%;
    top: 0px;
    transition: all 0.5s ease-in;
}

.header__nav {
    margin: 0 auto 0 0;
}

.menuburger{
    position: absolute;
    width: 45px;
    height: 30px;
    border: 0;
    margin: 0 auto 0 0;
    padding: 0;
    z-index: 25;
    cursor: pointer;
}

.menuburger__line {
    top: 50%;
    left: 15px;
    width: 25px;
    position: absolute;
    height: 1px;
    background-color: #2566dd;
    transition: transform .45s cubic-bezier(.215,.61,.355,1);
}

.menuburger:before, .menuburger:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 15px;
    height: 1px;
    background-color: white;
    width: 30px;
    transform-origin: center left;
    transition: transform .3s cubic-bezier(.215,.61,.355,1)
}

.menuburger:before {
    margin-top: -7px;
    transform: scaleX(.65)
}

.menuburger:after {
    margin-top: 7px;
    transform: scaleX(.4)
}

.menuburger__line:before {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    height: 1px;
    background-color: white;
    transition: transform .45s cubic-bezier(.215,.61,.355,1)
}

.header__logo {
    color: white;
    font-size: 25px;
    font-weight: 400;
    width: calc(100% / 3);
    text-align: center;
}
.header__cartshop{
    display: flex;
    justify-content: flex-end;
    width: calc(100% / 3);
    align-items: center;
}

.header--open .menuburger:before,.header--open .menuburger:after {
    background-color: white;
    transform: scaleX(0)
}

.header--open .menuburger__line {
    background-color: black !important;
    transform: rotate(-45deg)
}

.header--open .menuburger__line:before {
    background-color: black !important;
    transform: rotate(90deg)
}

.header--open .header__content {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in;
}

.header--open .header__content .menucontent {
    left: 0;
    transition: all 0.5s ease-in;
}

/*MENU CONTENT*/
a{
    text-decoration: none;
    color: #38220F;
}
.menucontent{
    text-align: center;
    font-size: 30px;
    display: flex;
    
}
.menucontent_list{
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    margin-top: 55px;
    
    
}
.icon{
    width: 35px;
    margin-right: 20px;
    
}
.menucontent_icon{
    margin: 15px 0;
    display: flex;
    align-items: center;
    font-size: 30px;
}

.menucontent_icon .textmenu {
    position: relative;
}

.menucontent_icon .textmenu:after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 4px;
    left: 0;
    background-color: black;
    transition: all .3s cubic-bezier(.215,.61,.355,1)
}

.menucontent_icon:hover .textmenu:after {
    width: 100%;
}

.menucontent__contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 0 0;
}

.contact__link {
    font-size: 30px;
    display: flex;
    
}

.contact__link .textmenu {
    position: relative;
    margin-left: 15px;
}

.contact__link .textmenu:after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 4px;
    left: 0;
    background-color: black;
    transition: all .3s cubic-bezier(.215,.61,.355,1)
}

.contact__link:hover .textmenu:after {
    width: 100%;
}

.listrrss {
    display: flex;
    align-items: center;
}

.rrss {
    width: 22px;
    margin: 0 0 0 20px;
    display: flex;
    align-items: center;
}
.rrss--insta{
    width:22px;
}
.rrss--tiktok{
    width: 20px;
}

.rrss svg {
    transition: all .3s cubic-bezier(.215,.61,.355,1)
}

.rrss:hover svg {
    fill: #38220F;
    transition: all .3s cubic-bezier(.215,.61,.355,1)
}

.search {
    position: relative;
    display: flex;
    align-items: center;
}

.search .search__input {
    border: 1.5px solid white;
    border-radius: 50px;
    height: 27px;
    padding: 10px;
    border-radius: 50px;
    height: 27px;
    padding: 10px;
    font-size: 12px;
    border: 0;
    background-color: rgba(255,255,255,.3);
    color: #ddbe9b;
    font-family: 'Mulish', sans-serif;
    min-width: 300px;
}

.search .search__input:placeholder-shown {
    color: white;
    font-size: 20px;
    opacity: 1;
}

.search .lupa {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5px;
}

.search .lupa svg {
    fill: #ffffff85;
    width: 20px;
}
/*Intro*/
.introhome {
    height: 80vh;
    min-height: 850px;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
}

.introhome::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.39);
}

.introhome .introhome__img {
    width: 100%;
    height: 100%;
}

.introhome .introhome__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.introhome .introhome__content {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1440px;
    position: absolute;
    animation-name: slide-right;
    animation-duration: 1.5s;
}


.introhome .introhome__content .titleintro {
    color: white;
    font-size: 40px;
    max-width: 700px;
    margin: 0 0 40px;
}

.choice{
    max-width: 600px;
    font-size: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
}

.choice_cafe{
    background-color: #38220E;
    color: white;
    width: 225px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.choice_te{
    background-color: #38220E;
    color: white;
    width: 225px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popuptienda {
    position: absolute;
    right: 50px;
    bottom: -50px;
    background-color: #FFE3CF;
    padding: 30px;
    min-width: 400px;
    color: white;
    min-height: 200px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    animation-name: animationCard;
    animation-duration: 1.5s;
}

/* Carrusel*/
.titlecarousel{
    font-size: 30px;
    padding-bottom: 150px;
}


#products{
    width: 100%;
}
.carousel-container{
    width: 100%;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slider{
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    margin: auto;
    overflow: hidden;
    position: relative;

}
.slider::before,
.slider::after{
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 200px;
    z-index: 2;

}

.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slide{
    height: 100px;
    width: 250px;
}
.slide img{
    height: 100%;
    width: 100%;
    display: block;
}
.slice-track{
    display: flex;
    justify-content: space-between;
    height: 300px;
    padding-top: 10px;
    padding-left: 35px;
    padding-right: 35px;
    align-items: center;
    animation: scroll 40s linear infinite;
	display: flex;
    width: calc(250px*14);

}
/* Nosotros*/

.nosotros{
    position: relative;
    width: 100%;
    height: 660px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nosotros::after {
    content: '';
    width: 100%;
    height: 120%;
    background-color: #FFE3CF;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.img_nosotros{

}

.club {
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    position: absolute;
    top: -80px;
}

.club::after {
    content: '';
    background-color: #E0BC75;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
}

.club .tag {
    font-size: 22px;
    z-index: 1;
}

.club .title {
    font-size: 28px;
    z-index: 1;
}

.club .text{
    font-size: 14px;
    z-index: 1;
}

.cafeteria-fisica{
    height: 350px;
    width :500px;
    margin-left: 290px;
    padding: 120px 0 0 0;
}

.descripcion-cafeteria h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.descripcion-cafeteria p{
    font-size: 16px;
    margin-top: 15px;
    
}

/*Info*/

.info{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 175px;
}

.info_izq{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 200px;
}

.info_derecha{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
}

.mini_info{
    padding: 65px;
    display: flex;
    flex-direction: column;
}

.mini_info p{
   width: 125px;
}

/*Contacto

Intro
.introhome {
    height: 80vh;
    min-height: 850px;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
}

.introhome::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.39);
}

.introhome .introhome__img {
    width: 100%;
    height: 100%;
}

.introhome .introhome__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.introhome .introhome__content {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1440px;
    position: absolute;
    animation-name: slide-right;
    animation-duration: 1.5s;
}


.introhome .introhome__content .titleintro {
    color: white;
    font-size: 40px;
    max-width: 700px;
    margin: 0 0 40px;
}*/
