@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&family=Bitter&display=swap');
* {
    margin: 0;
    font-family: 'Bitter', serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5%;
    background-color: rgb(56, 34, 15, 0.9);
    color: white;
    box-sizing: border-box;
}

.cafte-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 34, 15);
    height: 100%;
    width: 10%;
}

.user-intranet {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
}

.content-container {
    display: flex;
    width: 100%;
    height: 95%;
}

.menu-left {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 10%;
    height: 100%;
    background-color: rgb(56, 34, 15, 0.9);
    box-sizing: border-box;
}

#options {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
}

#options :hover{
    background-color: rgb(56, 34, 15);
    transition: 0.5s;
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

.links{
    text-decoration: none;
    color: white;
}


.comite-personal{
    width: 100%;
    height: 50%;
    display: flex;
    gap: 100px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.content {
    display: flex;
    width: 85%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.content1{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}
.content2{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}
.personal{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 220px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.308);
}

.img-personal{
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 80%;
}

.personal-info{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 20%;
    padding: 5px;
}

.convenio{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 30%;

}




.content2{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 50%;
}

.huelga-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 100%;
    margin-top: 60px;
    gap: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.466);
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}



.huelga-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.huelga-title-2{
    gap: 20px;
    margin: 20px;
}


.huelga-img{
    width: 80%;
    height: 40%;
    border-radius: 5px;
}

.vid-gallery{
    display: flex;
    gap: 15px;
    justify-content: center;
    padding-bottom: 20px;
}

.video{
    height: 200px;
    width: 30%;
    border: 1px solid white;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    margin: auto;
}

.video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .5s;
}

.video video:hover{
    transform: scale(1.1);    
}

.popup-video{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    display: none;
}

.popup-video video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: auto;
    width: auto;
    border: 1px solid white;
    object-fit: cover;
}

.popup-video span{
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 50px;
    color: white;
    font-weight: bold;
    z-index: 100;
    cursor: pointer;
}
