body{
  width: 100%;
  height: 100%;
}

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%; /* Proporción 16:9 */
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 75%;
    padding-top: 20px; 
     /* Para que la tabla no sobrepase el ancho de la pantalla */
  }
  
  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.85);
    transform-origin: 0 0;
    border: none;
  }
  
  @media (max-width: 768px) { /* Media query para dispositivos móviles */
    .iframe-container {
      padding-top: 100%; /* Proporción 1:1 */
    }
  }
  