.espacio-encontrarnos{
  
    height: 10vh;
    width: 100%;
    
  }
  #encontrarnosContainer{
    
    height: 430px;
    
  } 
  
    .espacioDondeEncontrarnos{
  
      width: 100%;
      height: 0.8vw;
    }
    .dondeEncontrarnos{
  
      width: 1152;
      height: inherit;
      display: flex;
      flex-flow: row;
  
    }
  
      #informacionFrame{
  
        font-size: 14px;
        height: inherit;
        width:576px;
        display: flex;
        flex-flow: column;
  
  
      }
  
        .sitio{
  
          color: #aaaaaa;
  
          padding-top: 18px;
  
          display: flex;
          justify-content: space-around;
  
        }
          .informacionSitio{
            width: 55%;
            padding-left: 20px;
          }
  
            .nombreSitio{
  
              font-weight: 500;
              color: black;
            }
  
              .verde{
                color: rgb(5, 150, 5);
                font-weight: 500;
              }
          .sitioWeb{
  
  
            width: 40%;
  
            display: flex;
            justify-content: space-around;
  
          }
            .paginaWeb{
  
              width: 40%;
            }
              .imagenLogoWeb{
  
                height: 70%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
  
              }
              .textoWeb{
  
                color: rgb(10, 156, 156);
                text-align: center;
  
              }
            .comoLlegar{
  
              width: 40%;
            }
              .imagenComoLlegar{
  
                height: 70%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
  
  
              }
              .fa-compass{
  
                color: rgb(192, 49, 49);
              }
              .textoComoLlegar{
  
                color: rgb(10, 156, 156);
                text-align: center;
  
              }
      .barraGris{
  
        margin-top: 23px;
        margin-bottom: 8px;
        width: 90%;
        border: 1px solid rgb(182, 182, 182);
  
      }
  
      #mapsFrame{
  
        height: inherit;
        width: 576px;
  
      }
        .frame{
          width: 100%;
          height: inherit;
        }